.gradient {
  background-image: linear-gradient(to right, black 70%, transparent 100%);
}

.hero-image {
  position: relative;
}

.hero-image::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";

  background-image: linear-gradient(
    90deg,
    #000 0,
    transparent 50%,
    transparent
  );
}

.slideUp-appear {
  opacity: 0;
  transform: translateY(20px);
}
.slideUp-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms ease-out;
}
.slideUp-appear-done {
  opacity: 1;
  transform: translateY(0);
}

.slideUp-enter {
  opacity: 1;
  transform: translateY(20px);
}
.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms ease-out;
}
.slideUp-enter-done {
  opacity: 1;
}

/* .slideUp-exit {
  opacity: 1;
}
.slideUp-exit-active {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.slideUp-exit-done {
  opacity: 0;
} */

.fadeIn-appear {
  opacity: 0;
}
.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in 400ms;
}

.fadeIn-enter {
  opacity: 0;
}
.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in 400ms;
}

.fadeIn-enter-done {
  opacity: 1;
}

.fadeIn-exit {
  opacity: 1;
  z-index: 2;
}

.fadeIn-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fadeIn-exit-done {
  opacity: 0;
}

.slideDown-enter {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.slideDown-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.slideDown-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slideDown-exit-active {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: all 0.3s ease;
}

.slideDown-exit-done {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.lazy-image.lazy-load {
  display: block;
  min-height: 1px;
  opacity: 0;
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
}

.lazy-image.lazy-load-done {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.progress {
  width: 40px;
  height: 40px;
  position: relative;
}
.progress span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #42a5f5;
  transform: scale(0);
  background-color: transparent;
  animation: load 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.progress span:nth-child(2) {
  animation-delay: 0.75s;
}

@keyframes load {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(100%);
    opacity: 0;
  }
}
